*{
    margin: 0px;
    box-sizing: border-box;
}
/* .Primeira{
    margin: 2%;
    width: 65%;
    height: 30%;
    background-color: aquamarine;
    display: ;
} */


/* está errado:( */
.container {
    display: flex; /* Ativa o layout flexível */
    border-radius: 50px;
    box-sizing: border-box; /* Garante que o padding seja incluído na largura */
    background-color: #d3eaf2; /* Cor de fundo apenas para visualização */
    width: 60%;
}

.sub-div {
    padding: 10px; /* Espaçamento interno */
}

.infoSeta{
    display: flex;
    margin: 5px;
}

.button{
    margin: 5px;

}

img{
    width: 200px;
    height: auto;
}

